section {
    display: grid;
    place-content: center;
  }
  
  .filter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-label{
    background-color: #000000;
  }
  
  .table {
    th {
        background-color: #f4a300d0;
        color: #000000;
    }
    
    tr:hover{
      background-color: #f4a300d0;
    }
  }
  
  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    color: #f4a300d0;
  }
  